{% extends "admin/base.html" %}

{% block app_content %}
    <div class="container col-md-8 order-md-1">
        <form action="{{ url_for("admin_page_contacts_save") }}" method="post">
            <div class="form-group "><label class="control-label" for="contacts_title">Заголовок в шапке:</label>
                <input type="text" class="form-control" name="contacts_title" value="{{ data.contacts_title }}" maxlength="100">
            </div>
            <div class="form-group "><label class="control-label" for="contacts_desc">Описание в шапке:</label>
                <input type="text" class="form-control" name="contacts_desc" value="{{ data.contacts_desc }}" maxlength="200">
            </div>

            <hr>

            <div class="form-group "><label class="control-label" for="contacts_bg">Фоновый текст заголовка:</label>
                <input type="text" class="form-control" name="contacts_bg" value="{{ data.contacts_bg }}" maxlength="30">
            </div>
            <div class="form-group "><label class="control-label" for="contacts_up_text">Верхний текст заголовка:</label>
                <input type="text" class="form-control" name="contacts_up_text" value="{{ data.contacts_up_text }}" maxlength="30">
            </div>
            <div class="form-group "><label class="control-label" for="contacts_down_text">Нижний текст заголовка:</label>
                <input type="text" class="form-control" name="contacts_down_text" value="{{ data.contacts_down_text }}" maxlength="50">
            </div>

            <hr>

            <div class="form-group "><label class="control-label" for="VK">VK:</label>
                <input type="text" class="form-control" name="vk" value="{{ data.vk }}" maxlength="128">
            </div>
            <div class="form-group "><label class="control-label" for="Instagram">Instagram:</label>
                <input type="text" class="form-control" name="instagram" value="{{ data.instagram }}" maxlength="128">
            </div>
            <div class="form-group "><label class="control-label" for="telegram">Telegram:</label>
                <input type="text" class="form-control" name="telegram" value="{{ data.telegram }}" maxlength="128">
            </div>
            <div class="form-group "><label class="control-label" for="email">Email:</label>
                <input type="text" class="form-control" name="email" value="{{ data.email }}" maxlength="128">
            </div>
            <div class="form-group "><label class="control-label" for="phone">Телефон:</label>
                <input type="text" class="form-control" name="phone" value="{{ data.phone }}" maxlength="128">
            </div>

            <div class="form-group "><label class="control-label" for="desc">Описание:</label>
                <input type="text" class="form-control" name="desc" value="{{ data.desc }}" maxlength="256">
            </div>

            <p><input type="submit" value="Отправить" class="btn ripple btn-gradient btn-info"></p>
        </form>
    </div>

{% endblock %}