{% extends "admin/base.html" %}

{% block app_content %}
    <div class="container col-md-8 order-md-1">
        <form action="{{ url_for("admin_page_main_save") }}" method="post">
            <div class="form-group "><label class="control-label" for="main_title">Заголовок в шапке:</label>
                <input type="text" class="form-control" name="main_title" value="{{ data.main_title }}" maxlength="100">
            </div>
            <div class="form-group "><label class="control-label" for="main_desc">Описание в шапке:</label>
                <input type="text" class="form-control" name="main_desc" value="{{ data.main_desc }}" maxlength="200">
            </div>

            <hr/>

            <div class="form-group "><label class="control-label" for="footer_title">Заголовок в подвале:</label>
                <input type="text" class="form-control" name="footer_title" value="{{ data.footer_title }}" maxlength="100">
            </div>
            <div class="form-group "><label class="control-label" for="footer_desc">Описание в подвале:</label>
                <input type="text" class="form-control" name="footer_desc" value="{{ data.footer_desc }}" maxlength="200">
            </div>

            <hr/>

            <p><input type="submit" value="Отправить" class="btn ripple btn-gradient btn-info"></p>
        </form>
    </div>

{% endblock %}