{% extends "admin/base.html" %}

{% block app_content %}
    <div class="container col-md-8 order-md-1">
        <form action="{{ url_for("admin_story_save", name=story_info.type_stories) }}" method="post">
            <div class="form-group "><label class="control-label" for="bg_text">Фоновый текс:</label>
                <input type="text" class="form-control" name="bg_text" value="{{ story_info.bg_text }}">
            </div>
            <div class="form-group "><label class="control-label" for="up_head">Текст сверху:</label>
                <input type="text" class="form-control" name="up_head" value="{{ story_info.up_head }}">
            </div>
            <div class="form-group "><label class="control-label" for="down_head">Текст снизу:</label>
                <input type="text" class="form-control" name="down_head" value="{{ story_info.down_head }}">
            </div>
            {% if story_info.type_stories != 'staff' %}
            <div class="form-group "><label class="control-label" for="text">Описание (255 символов):</label>
                <input type="text" class="form-control" name="text" value="{{ story_info.text }}">
            </div>
            <div class="form-group "><label class="control-label" for="photo_card">Карточка (900*935):</label>
            {% set photo_card = story_info.pic%}
            {% include "admin/_include/_image_card.html" ignore missing %}
            </div>
            {% endif %}
            <p><input type="submit" value="Отправить" class="btn ripple btn-gradient btn-info"></p>
        </form>
    </div>

{% endblock %}