{% extends "admin/base.html" %}

{% block app_content %}
    <div class="container col-md-8 order-md-1">
        <form action="{{ url_for("admin_page_trips_save") }}" method="post">
            <div class="form-group "><label class="control-label" for="trips_title">Заголовок в шапке:</label>
                <input type="text" class="form-control" name="trips_title" value="{{ data.trips_title }}" maxlength="100">
            </div>
            <div class="form-group "><label class="control-label" for="trips_desc">Описание в шапке:</label>
                <input type="text" class="form-control" name="trips_desc" value="{{ data.trips_desc }}" maxlength="200">
            </div>

            <hr>

            <div class="form-group "><label class="control-label" for="trips_bg">Фоновый текст заголовка:</label>
                <input type="text" class="form-control" name="trips_bg" value="{{ data.trips_bg }}" maxlength="30">
            </div>
            <div class="form-group "><label class="control-label" for="trips_up_text">Верхний текст заголовка:</label>
                <input type="text" class="form-control" name="trips_up_text" value="{{ data.trips_up_text }}" maxlength="30">
            </div>
            <div class="form-group "><label class="control-label" for="trips_down_text">Нижний текст заголовка:</label>
                <input type="text" class="form-control" name="trips_down_text" value="{{ data.trips_down_text }}" maxlength="50">
            </div>

            <p><input type="submit" value="Отправить" class="btn ripple btn-gradient btn-info"></p>
        </form>
    </div>

{% endblock %}