{% extends "admin/base.html" %}

{% block app_content %}
{% include "admin/_include/_texteditor.html" ignore missing %}
    <div class="container col-md-8 order-md-1">
        <form action="{{ url_for('admin_trip_edit', id_trip=travels.id) }}" method="post">
            <div class="form-group "><label class="control-label" for="name">Заголовок:</label>
                <input type="text" class="form-control" name="name" autocomplete="False" value="{{ travels.name }}">
            </div>
            <div class="form-group "><label class="control-label" for="price">Цена:</label>
                <input type="text" class="form-control" autocomplete="False"
                                                        onkeydown="return intFilter(event, this);"
                                                        onkeyup="checkIntAfterInput(event, this);"
                                                        onblur="validateInt(this, true);"
                                                        name="price" value="{{ travels.price }}">
            </div>
            <div class="form-group "><label class="control-label" for="short_desc">Короткое описание (33 символа):</label>
                <input type="text" class="form-control" maxlength="33" autocomplete="False" name="short_desc" value="{{ travels.short_desc }}">
            </div>
            <div class="form-group "><label class="control-label" for="photo_card">Карточка:</label>
            {% set photo_card = travels.photo_card%}
            {% include "admin/_include/_image_card.html" ignore missing %}
            </div>

            <div class="form-group "><label class="control-label" for="description">Описание:</label>
                <textarea type="text" class="form-control" id="texteditor" name="texteditor">{{travels.description}}</textarea>
            </div>

            <div class="form-group "><label class="control-label" for="showed">Отображать?</label>
               <input type="checkbox" autocomplete="False" class="checkbox" name="showed" {{ 'checked' if travels.showed }}>
            </div>
            <input type="hidden" name="id" value="{{ travels.id }}">

            <p><input type="submit" value="Отправить" class="btn ripple btn-gradient btn-info"></p>
        </form>
    </div>

{% endblock %}