             <div class="uploadimgbox">
                <input type="file" id="addImages" name="addImages">
                <input type="hidden" name="photo_card" id="photo_card" value="{{ photo_card if photo_card }}">
                <ul id="uploadImagesList">
                    <li class="item template">
                        <span class="img-wrap">
                            <img src="{{ photo_card if photo_card}}" >
                        </span>
                        <span class="delete-link" title="Удалить">Удалить</span>
                    </li>
                </ul>

                <div class="clear"></div>
             </div>
            <script>
            jQuery(document).ready(function ($) {

                var maxFileSize = 250 * 1024; // (байт) Максимальный размер файла (250кб)
                var queue = {};
                var form = $('form#uploadImages');
                var imagesList = $('#uploadImagesList');

                var itemPreviewTemplate = imagesList.find('.item.template').clone();
                itemPreviewTemplate.removeClass('template');
                //imagesList.find('.item.template').remove();

                photo_card = $('#photo_card').val();

                if (photo_card == '') {
                    imagesList.find('.item.template').remove();
                }


                $('#addImages').on('change', function () {
                    var files = this.files;

                    var file = files[0]

                    if ( !file.type.match(/image\/(jpeg|jpg|png|gif)/) ) {
                        alert( 'Фотография должна быть в формате jpg, png или gif' );
                        exit;
                    }

                    if ( file.size > maxFileSize ) {
                        alert( 'Размер фотографии не должен превышать 250 кб' );
                        exit;
                    }
                    preview(file);

                    this.value = '';
                });

                function preview(file) {
                    var reader = new FileReader();
                    reader.addEventListener('load', function(event) {
                        var img = document.createElement('img');
                        var itemPreview = itemPreviewTemplate.clone();

                        var photo_card = $('#photo_card');

                        photo_card.val(event.target.result);

                        itemPreview.find('.img-wrap img').attr('src', event.target.result);
                        itemPreview.data('id', file.name);

                        imagesList.find('.item').remove();
                        imagesList.append(itemPreview);

                        queue[file.name] = file;

                    });
                    reader.readAsDataURL(file);
                }

                // Удаление фотографий
                imagesList.on('click', '.delete-link', function () {
                    var item = $(this).closest('.item'),
                        id = item.data('id');

                    delete queue[id];

                    item.remove();

                    var photo_card = $('#photo_card');
                    photo_card.val('');
                });
            });

            </script>

