{% extends "base.tmpl" %}

{% block meta %}
{% endblock %}

{% block header_banner %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="twothird container">
      <h1 class="text-teal">Cтраница не найдена</h1>
        <p class="lead">Cтраница устарела, была удалена или не существовала вовсе</p>
    </div>
  </div>
</div>

{% endblock %}

{% block footer_banner%}
{% endblock %}