{% extends "base.tmpl" %}

{% block content %}
  <div class="row padding-64">
    <div class="twothird container">
      <h1 class="text-teal">Доступ запрещён</h1>
        <p class="lead">There was errors while processing your query. Please try again or contact administrator.</p>
    </div>
  </div>

{% endblock %}



{% endblock %}