  <!-- auth form -->
  <div id="form_auth" class="modal">
     <form class="modal-form-auth auth-animate" action="/auth" method="POST">
      <div class="container">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="pwd"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="pwd" required>

        <button type="submit">Login</button>
      </div>
    </form>
  </div>