<!doctype html>
<html lang="en">
    <head>
        <title>{% if not system.title %}Trips &mdash; Website Template by Colorlib{% else %} {{system.title}} {% endif %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700,900&display=swap" rel="stylesheet">
        {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='fonts/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
        <!-- MAIN CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
        {% endblock %}

        {% block meta %}
        <meta property="og:title" content="{{head_info.title}}">
        <meta property="og:site_name" content="{{system.title}}">
        <meta property="og:url" content="{{ url }}">
        <meta property="og:description" content="{{ head_info.description }}">
        <meta property="og:image" content="{{ system.icon }}">
        <meta property="og:image:width" content="968">
        <meta property="og:image:height" content="504">
        {% endblock %}
    </head>
    <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
        <div class="site-wrap" id="home-section">
            {% block mobile_menu%}
            <div class="site-mobile-menu site-navbar-target">
                <div class="site-mobile-menu-header">
                    <div class="site-mobile-menu-close mt-3">
                        <span class="icon-close2 js-menu-toggle"></span>
                    </div>
                </div>
                <div class="site-mobile-menu-body"></div>
            </div>
            {% endblock %}
            <header class="site-navbar site-navbar-target" role="banner">
                <div class="container">
                    <div class="row align-items-center position-relative">
                        <div class="col-3 ">
                            <div class="site-logo">
                                <a href="{{ url_for('index') }}" class="font-weight-bold">
                                {% if system.icon %}
                                <img src="{{ system.icon }}" alt="Image" class="img-fluid">
                                {% else %}
                                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Image" class="img-fluid">
                                {% endif %}
                                </a>
                            </div>
                        </div>
                        {% block menu%}
                            {% include "_include/menu.tmpl" ignore missing %}
                        {% endblock %}
                    </div>
                </div>
            </header>
            {% block header_banner %}
            <div class="ftco-blocks-cover-1">
                <div class="site-section-cover overlay" style="background-image: url({% if system.bg_pic %} '{{ system.bg_pic }}' {% else %}'{{ url_for('static', filename='images/hero_1.jpg') }}'{% endif %})">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-5" data-aos="fade-right">
                                <h1 class="mb-3 text-white">{{ head_info.title }}</h1>
                                <p>{{ head_info.description}}</p>
                                {% if system.main_video and head_info.type_head == 'main_head' %}
                                <p class="d-flex align-items-center">
                                    <a href="{{ system.main_video }}" data-fancybox class="play-btn-39282 mr-3"><span class="icon-play"></span></a>
                                    <span class="small">Посмотрите видео</span>
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}

            {% block content%}

            {% endblock%}

            {% block footer_banner %}
            <div class="site-section bg-image overlay" style="background-image: url({% if system.bg_pic %} '{{ system.bg_pic }}' {% else %}'{{ url_for('static', filename='images/hero_1.jpg') }}'{% endif %})">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-7 text-center">
                            <h2 class="font-weight-bold text-white">{{ footer_info.title }}</h2>
                            <p class="text-white">{{ footer_info.description }}</p>
                            <p class="mb-0"><a href="{{ url_for('contact') }}" class="btn btn-primary text-white py-3 px-4">Присоединиться</a></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}

            {% block footer %}
            <footer class="site-footer  bg-light">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3">
                            <h2 class="footer-heading mb-3">Случайные фото</h2>
                            {% if random_photo_list %}
                            <div class="row">
                                {% for photo in random_photo_list %}
                                <div class="col-4 gal_col">
                                    {% for key, val in photo.items() %}
                                    <a href="{{ key }}" target="_blank"><img src="{{ val }}" alt="Image" class="img-fluid"></a>
                                    {% endfor %}
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>

                        {% block footer_link %}
                        <div class="col-lg-8 ml-auto">
                            <div class="row">
                                <div class="col-lg-6 ml-auto">
                                    <h2 class="footer-heading mb-4">Ссылки</h2>
                                    <ul class="list-unstyled">
                                        <li><a href="{{ url_for('index') }}" >Главная</a></li>
                                        <li><a href="{{ url_for('about') }}" >О нас</a></li>
                                        <li><a href="{{ url_for('travels') }}" >Путешествия</a></li>
                                        <li><a href="{{ url_for('contact') }}" >Контакты</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endblock %}
                    </div>
                    <div class="row pt-5 mt-5">
                        <div class="col-md-10">
                            <div class="border-top">
                                <p class="text-white" style="font-size: 1pt !important;">
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                    All rights reserved | This template is made with by
                                    <a class="text-white" href="https://colorlib.com" target="_blank" >Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <p class="auth" data-toggle="modal" data-target="#authForm" onclick="document.getElementById('form_auth').style.display='block'"><i style="color: #efba6c;" class="icon-lock" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
            </footer>
            {% endblock %}
        </div>

        {% include "auth.html" ignore missing %}

        {% block statistic%}
        {{ system.statistic | safe }}
        {% endblock %}

        {% block script %}
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-migrate-3.0.0.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.animateNumber.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
